@font-face {
    font-family: Lato;
    src: url("../src/assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: Lato_Italic;
    src: url("../src/assets/fonts/Lato-Italic.ttf");
}

@font-face {
    font-family: Lato_Bold;
    src: url("../src/assets/fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: Momo;
    src: url("../src/assets/fonts/Momo-Regular.ttf");
}

@import "tailwindcss";

@theme{
    --font-lato: Lato, "sans-serif";
    --font-lato-italic: Lato_Italic, "sans-serif";
    --font-lato-bold: Lato_Bold, "sans-serif";
    --font-momo: Momo, "sans-serif";
}